@media (max-width: 850px) {
    .barra_nav {
        display: none;
    }
    .ul_responsive{
        list-style: none;
        padding: 10px;
    }
    .bars a{
        color: rgb(0, 0, 0);
        font-size: 22px;
    }
    .bars{
        margin: 20px;
        display: block;
    }
    .bars:hover{
        transition: .5s;
    }
    #cerrar{
        position: absolute;
        margin-left: 73px;
        margin-top: -20px;
        font-size: 25px;
        transition: 2.5s;
    }
    #cerrar i:hover {
        transition: 2.5s;
        transform: rotate(660deg);
    }
    .menu_responsive{
        background-image: radial-gradient(circle at 104.17% 4.55%, #2799ff 0, #0071c9 50%, #004c8e 100%);
        display: flex;
        position: absolute;
        padding: 20px;
        margin-left: -300px;
        transition: 1.5s;
        margin-top: -552px;
        border-bottom-right-radius: 15px;
    }
    .menu_responsive:target{
        transition: 1.5s;
        margin-left: -8px;
        margin-top: 252px;
    }
    .list_responsive{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cerrar{
        color: #fff;
        font-size: 30px;
        margin-bottom: 5px;
    }    
    .list_responsive a{
        color: #fff;
        text-decoration: none;
        font-family: 'Cera Round Pro', sans-serif;
        font-size: 20px;
    }
    .buttom_responsive {
        width: 30px;
        height: 26px;
        border: 2px solid rgb(255, 255, 255);
        border-right: none;
        background: none;
        color: #fff;
    }
    #buscador{
        display: flex;
    }
    .input_responsive {
        width: 150px;
        height: 20px;
        border: 2px solid rgb(255, 255, 255);
        outline: none;
        border-left: none;
        font-family: 'Cera Round Pro', sans-serif;
        color: #fff;
        background: none;
    }
    .acount:hover > .acount_registrer {
        position: absolute;
        margin-left: -231px;
        margin-top: -22px;
        transition: 1s;
        z-index: .1
    }
    .acount_registrer {
        transition: 1s .55s;
    }
    .barra_conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        align-items: center;
    }
    .acount_registrer {
        border-radius: 0px;
        margin-left: -231px;
    }
    #logo{
        display: block;
        font-size: 40px;
        color: #000000;
        transition: 1.5s;
    }
    #logo:hover {
        transition: 1.5s;
        transform: rotate(360deg);
    }a.animated-button.thar-three {
        color: rgb(255, 255, 255);
    }
    a.animated-button.thar-three:before {
        width: 150px;
        background-image: radial-gradient(circle at 104.17% 4.55%, #1583e5 0, #0071c9 50%, #0060ae 100%);
    }
}
@media (max-width: 500px) {
    #logo {
        font-size: 40px;
    }
}