@import url('http://fonts.cdnfonts.com/css/cera-round-pro');
.barra_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 90vw;
    margin: -8px;
}
#b1us{
    display: flex;
}
.list_1 {
    padding: 15px;
    padding-top: 11px;
    font-family: 'Cera Round Pro', sans-serif;
    padding-right: 57px;
    font-size: 45px;
}
.list_1:hover i {
    transition: 1.5s ;
    transform: rotate(360deg);
}
.list_1 i {
    transition: 1.5s;
}
.links-barra_nav{
    text-decoration: none;
    color: #000;
}
.list{
    padding: 15px;
    font-family: 'Cera Round Pro', sans-serif;
    font-size: 20px;
}
.buttom{
    width: 30px;
    height: 25px;
    border: 2px solid rgb(46, 46, 46);
    border-right: none;
    background: none;
}
.input{
    width: 150px;
    height: 17px;
    border: 2px solid rgb(46, 46, 46);
    outline: none;
    border-left: none;
    transition: 1s width;
    font-family: 'Cera Round Pro',sans-serif;
    padding: 2px;
}
.input:focus{
    width: 180px;
    transition: 1s;
}
.links-barra_nav:hover{
    text-decoration: underline;
}
.barra_conteiner{
    display: flex;
    flex-direction: row;
}
.bars_conteiner{
    display: none;
}
#logo{
    display: none;
}

.li {
    list-style-type: none;
    position: relative;
    width: 120px;
    transition: 1s;
}

.li .a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    border: 1px solid #000;
    color: #000;
    transition: 1s;
}
.menu_responsive{
    display: none;
}
.account_conteiner{
    margin: 20px;
}

.account_conteiner a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Cera Round Pro',sans-serif;
    padding: 5px 10px;
    width: 130px;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background-image: radial-gradient(circle at 104.17% 4.55%, #1583e5 0, #0071c9 50%, #0060ae 100%);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)
0s;
}a.animated-button.thar-three {
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)
0s;
}
a.animated-button.thar-three:hover {
	color: rgb(255, 255, 255) !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.bars{
    display: none;
}
@keyframes animacion {
    20%{
        width: 180px;
    }
    40%{
        width: 130px;
    }
    70%{
        width: 200px;
    }
    100%{
        width: 180px;
    }
    
}